.location {
    display: flex;
    flex-direction: column;
}

.top{
    width: 100%;
    height: 50vh;
    position: relative;
}

.map{
    position: absolute;
}

.bottom {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 800px;
    min-height: 360px;
    flex: 1.5;
    background-color: #F9F9FB;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.bottom-right{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    gap: 25px;
    
}

.inputs {
    display: flex;
    justify-content: space-around;
    align-self: stretch;
    padding: 20px 0 10px 0;
}

.arrow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.location-input small {
    color: #35768D;
    font-size: 14px;
}

.location-input legend {
    font-size: 18px;
    font-size: 800;
}

.location-input input {
    width: 230px;
    height: 35px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.suggestion {
    padding: 0 10px 20px 20px ;
}
.suggestion h4 {
    font-size: 20px;
    font-weight: 200;
}

.suggestions-list {
    display: flex;
    gap: 20px;
    padding: 10px 0 0 20px;
}
.suggestions-list button {
    padding: 4px 9px;
    font-size: 16px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 3px;
}

.submit-Nav{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin: 0 30px 20px 0;
    background-color: #88A9FE;
    height: 44px;
    padding: 0 10px;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.submit-Nav p {
    font-size: 20px;
}

.saved {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 150px;
    border-radius: 10px;
    background-color: #F9F9FB;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;

}

.saved-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.saved-list {
    display: flex;
    gap: 20px;
    padding:  0 0 0 20px;
}

.recent  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 150px;
    border-radius: 10px;
    background-color: #F9F9FB;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding:  10px 20px;

}

.recent-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.recent-list {
    display: flex;
    gap: 20px;
    padding:  0 0 0 20px;
}

.recent-list button , .saved-list button {
    padding: 4px 9px;
    font-size: 16px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 3px;
}

@media (max-width: 1000px) {
    .bottom-left{
        flex: 2;
    }

    .bottom{
        gap: 20px;
    }
    
}

@media (max-width: 800px) {
    .bottom-right {
        display: none;
    }

    .bottom-left {
        max-width: 90vw;
    }
}

@media (max-width: 600px) {
    .bottom-left{
        max-width: 100vw;
    }

   .location-input input {
    width: 85%;
   }

   .suggestions-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   }

   .inputs {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
   }

    .location-input  {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }


   .arrow-icon {
    transform: scaleX(-1) rotate(90deg);
   }

   .arrow-icon img {
    width: 35px;
   }
    
}


